@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #050505; /* 定義深黑色背景 */
  color: #ffffff;            /* 定義白色文字 */
}

/* 隱藏 Scrollbar 但保留滾動功能 (為之後橫向滾動準備) */
/* Chrome, Safari, Edge */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}